.umkmcollectiveremovebgpreview-icon,
.vector-icon62 {
  position: absolute;
  height: 3.08%;
  width: 6.67%;
  top: 39.29%;
  right: 0.53%;
  bottom: 57.64%;
  left: 92.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon62 {
  top: 23.77%;
  right: 35.47%;
  bottom: 73.15%;
  left: 57.87%;
}
.frame-child13 {
  height: 39px;
  width: 375px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-forestgreen);
  display: none;
  max-width: 100%;
}
.home3 {
  text-decoration: none;
  color: inherit;
  min-width: 37px;
  white-space: nowrap;
}
.become-a-vip4,
.home3,
.meet-and-greet2,
.support3 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.become-a-vip4 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 113px;
  white-space: nowrap;
}
.meet-and-greet2,
.support3 {
  text-decoration: none;
  color: inherit;
}
.meet-and-greet2 {
  flex: 1;
  min-width: 105px;
  white-space: nowrap;
}
.support3 {
  min-width: 58px;
}
.rectangle-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-forestgreen);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-2xs) var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-smi);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-pt-serif);
}
.iphone-13-mini-3-child {
  position: absolute;
  top: 13px;
  left: 376px;
  width: 57px;
  height: 15px;
  display: none;
}
.request-a-meet {
  margin: 0;
  position: absolute;
  top: 62px;
  left: calc(50% - 117.5px);
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.vector-icon63,
.vector-icon64 {
  position: absolute;
  height: 3.08%;
  width: 4.16%;
  top: 47.17%;
  right: 30.51%;
  bottom: 49.75%;
  left: 65.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon64 {
  top: 83.87%;
  right: 45.97%;
  bottom: 13.05%;
  left: 49.87%;
}
.instance-item {
  height: 100%;
  width: 133px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-smi);
  background-color: var(--color-forestgreen);
}
.request-a-meeting5 {
  flex: 1;
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.vector-icon65,
.vector-icon66 {
  height: 34px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  bottom: -13px;
  z-index: 2;
}
.vector-icon65 {
  left: -6px;
}
.vector-icon66 {
  right: -5px;
}
.rectangle-parent11,
.request-a-meeting-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.request-a-meeting-parent3 {
  flex: 1;
  position: relative;
}
.rectangle-parent11 {
  position: absolute;
  top: 20px;
  left: 90px;
  width: 194px;
  padding: var(--padding-4xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.silahkan-masukkan-nama-umkm-an {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0-4px 2.4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-forestgreen);
  width: 375px;
  height: 74px;
}
.vector-icon67 {
  position: absolute;
  top: 60px;
  left: 199px;
  width: 25px;
  height: 25px;
  z-index: 1;
}
.instance-parent,
.silahkan-masukkan-nama-umkm-an-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 85px;
}
.instance-parent {
  top: 743px;
  width: 100%;
  height: 69px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.silahkan-masukkan-ulang-passwo,
.ulangi-password-icon,
.username-icon {
  position: absolute;
  height: 3.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.silahkan-masukkan-ulang-passwo {
  width: 6.67%;
  top: 33%;
  right: 96.53%;
  bottom: 63.92%;
  left: -3.2%;
}
.ulangi-password-icon,
.username-icon {
  width: 6.88%;
}
.ulangi-password-icon {
  top: 19.58%;
  right: 66.19%;
  bottom: 77.34%;
  left: 26.93%;
  z-index: 2;
}
.username-icon {
  top: 68.6%;
  right: -3.41%;
  bottom: 28.33%;
  left: 96.53%;
}
.vector-icon68,
.vector-icon69 {
  height: 25px;
  width: 15.6px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.vector-icon69 {
  width: 25.8px;
}
.vector-parent12,
.vector-wrapper8 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.vector-parent12 {
  position: absolute;
  top: 551px;
  left: 205px;
  width: 91.8px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.vector-icon70,
.vector-icon71,
.vector-icon72 {
  position: absolute;
  height: 3.08%;
  width: 6.88%;
  top: 82.39%;
  right: 2.19%;
  bottom: 14.53%;
  left: 90.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon71,
.vector-icon72 {
  top: 91.13%;
  right: -33.55%;
  bottom: 5.79%;
  left: 126.67%;
}
.vector-icon72 {
  top: 103.2%;
  right: -53.01%;
  bottom: -6.28%;
  left: 146.13%;
}
.vector-icon73 {
  height: 25px;
  width: 21.9px;
  position: absolute;
  margin: 0 !important;
  top: 30px;
  right: 32.1px;
}
.frame-child14 {
  height: 132px;
  width: 94px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.are-you-ready {
  margin: 0;
  height: 99px;
  flex: 1;
  position: relative;
  font-weight: 700;
  display: inline-block;
  z-index: 2;
}
.rectangle-parent12,
.vector-parent13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent12 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-8xl) var(--padding-xs) var(--padding-7xs)
    var(--padding-smi);
}
.vector-parent13 {
  position: relative;
}
.daftar-icon {
  height: 86px;
  width: 89px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  left: -10px;
}
.frame-child15 {
  height: 132px;
  width: 94px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.whether-youre-a2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-weight: 700;
  z-index: 2;
}
.daftar-parent,
.rectangle-parent13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent13 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-5xl) var(--padding-7xs) var(--padding-4xs)
    var(--padding-6xs);
}
.daftar-parent {
  position: relative;
}
.frame-child16 {
  height: 132px;
  width: 94px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.our-dedicated-team {
  margin: 0;
  flex: 1;
  position: relative;
  font-weight: 700;
  z-index: 2;
}
.frame-parent21,
.rectangle-parent14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent14 {
  flex: 0.8617;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-8xl) var(--padding-7xs) var(--padding-7xs)
    var(--padding-6xs);
}
.frame-parent21 {
  position: absolute;
  top: 251px;
  left: calc(50% - 151.5px);
  width: 304px;
  gap: var(--gap-2xs);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.img-5203-icon5,
.vector-icon74 {
  position: absolute;
  top: 36px;
  left: 72px;
  width: 15.6px;
  height: 25px;
}
.img-5203-icon5 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.vector-parent14 {
  position: absolute;
  top: 547px;
  left: 42px;
  width: 136px;
  height: 143px;
}
.password-icon,
.vector-icon75 {
  width: 15.6px;
  height: 25px;
  position: relative;
}
.vector-icon75 {
  width: 25px;
}
.password-parent,
.vector-wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper9 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
}
.password-parent {
  flex-direction: column;
  gap: 97px;
}
.image-icon,
.vector-icon76 {
  height: 25px;
  position: absolute;
  margin: 0 !important;
}
.image-icon {
  width: 21.9px;
  bottom: 54px;
  left: 56px;
}
.vector-icon76 {
  width: 25.8px;
  right: 127.2px;
  bottom: 29px;
}
.component-child1,
.component-inner,
.component-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
}
.rectangle-parent15 {
  height: 132px;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  z-index: 1;
}
.from-intimate-fan,
.our-platform-offers {
  margin: 0;
  height: 120px;
  position: relative;
  font-weight: 700;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.from-intimate-fan {
  width: 70px;
}
.our-platform-offers {
  align-self: stretch;
}
.our-platform-offers-a-range-of-wrapper {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.email-icon {
  height: 25px;
  width: 15.6px;
  position: absolute;
  margin: 0 !important;
  right: 12.4px;
  bottom: 0;
}
.whatever-your-vision {
  margin: 0;
}
.whatever-your-vision-container {
  height: 60px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.email-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.info-inner {
  width: 69px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.info,
.info-inner,
.info-wrapper {
  display: flex;
  align-items: flex-start;
}
.info {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-xs) 0 var(--padding-smi);
  position: relative;
  gap: var(--gap-xl);
}
.info-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-7xs) 0 0;
}
.bidang-event-icon,
.vector-icon77 {
  width: 15.6px;
  height: 25px;
  position: relative;
}
.vector-icon77 {
  width: 25.8px;
}
.vector-wrapper10 {
  width: 34.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.bidang-event-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-40xl);
}
.frame-parent22,
.frame-wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper14 {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.frame-parent22 {
  position: absolute;
  top: 400px;
  left: 1px;
  width: 100%;
  flex-direction: row;
  gap: var(--gap-11xs);
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.line-div {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 3;
}
.line-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}
.we-are-affiliated {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-child17 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-parent23,
.line-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}
.frame-parent23 {
  position: absolute;
  top: 167px;
  left: 26px;
  width: 324px;
  flex-direction: column;
  gap: var(--gap-11xs);
  text-align: center;
  font-size: 13px;
}
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  position: absolute;
  height: 3.5%;
  width: 8.53%;
  top: 47.78%;
  right: 73.6%;
  bottom: 48.72%;
  left: 17.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.vector-icon79,
.vector-icon80 {
  height: 2.96%;
  width: 8.27%;
  top: 48.03%;
  right: 45.6%;
  bottom: 49.01%;
  left: 46.13%;
}
.vector-icon80 {
  height: 3.5%;
  width: 7.81%;
  top: 47.78%;
  right: 18.05%;
  bottom: 48.72%;
  left: 74.13%;
}
.vector-icon81 {
  height: 28px;
  width: 32px;
  position: relative;
  min-height: 28px;
  z-index: 2;
}
.vector-icon82,
.vector-icon83 {
  height: 25px;
  width: 32px;
  position: relative;
  z-index: 2;
}
.vector-icon83 {
  height: 24px;
}
.vector-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.vector-parent15 {
  position: absolute;
  top: 235px;
  left: 67px;
  width: 242px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.vector-icon84 {
  width: 15.6px;
  height: 25px;
  position: relative;
}
.vector-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 37px;
}
.vector-icon85 {
  height: 25px;
  width: 25px;
  position: relative;
}
.request-m-and {
  flex: 1;
  position: relative;
  z-index: 3;
}
.frame-child18 {
  height: 109px;
  width: 161px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  left: -17px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro-100);
  z-index: 1;
}
.join-us-today {
  display: block;
}
.join-us-today-container {
  margin: 0;
  height: 91px;
  flex: 1;
  position: relative;
  font-weight: 700;
  display: inline-block;
  z-index: 2;
}
.rectangle-parent16 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.frame-wrapper16,
.rectangle-parent16,
.request-m-and-g-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper16 {
  width: 134px;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  margin-left: -160px;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.request-m-and-g-parent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl) 0 0;
}
.frame-wrapper15 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.frame-parent24,
.vector-parent16 {
  width: 219px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent24 {
  position: absolute;
  top: 604px;
  left: 20px;
  width: 325px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-3xs);
  color: #020f00;
  font-family: var(--font-inter);
}
.vector-icon86 {
  position: absolute;
  height: 4.19%;
  width: 9.33%;
  top: 72.04%;
  right: 7.73%;
  bottom: 23.77%;
  left: 82.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 4;
}
.pilih-bidang-umkm-anda,
.silahkan-masukkan-password-and {
  height: 25px;
  width: 15.6px;
  position: relative;
}
.pilih-bidang-umkm-anda-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.frame-wrapper17,
.silahkan-masukkan-password-and-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.silahkan-masukkan-password-and-parent {
  gap: 30px;
}
.frame-wrapper17 {
  padding: var(--padding-12xs) 0 0;
}
.vector-icon87 {
  width: 51px;
  height: 49px;
  position: relative;
}
.vector-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
}
.faearth-icon1 {
  height: 84px;
  width: 84px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.vector-icon88 {
  width: 51px;
  height: 49px;
  position: relative;
}
.vector-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) var(--padding-lg) 0;
}
.vector-icon89 {
  width: 25px;
  height: 25px;
  position: relative;
}
.vector-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.faearth-parent,
.frame-parent25,
.frame-parent26 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.faearth-parent {
  align-items: flex-end;
  gap: 19px;
}
.frame-parent25,
.frame-parent26 {
  align-items: flex-start;
}
.frame-parent26 {
  gap: var(--gap-4xl);
}
.frame-parent25 {
  position: absolute;
  top: 80px;
  left: 9px;
  gap: 39.4px;
}
.iphone-13-mini-3 {
  width: 100%;
  height: 812px;
  position: relative;
  background-color: var(--color-snow);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}





.teammanagement631289gmailcom{
  position: relative;
  font-weight: 700;
  white-space: nowrap;
  z-index: 2;
  color: whitesmoke;
  padding: 7px;
  border-radius: 10px;
  top: 15px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.55);
}

.message-our-management {
  position: relative;
  font-weight: 0;
  white-space: nowrap;
  z-index: 2;
  color: rgb(7, 53, 5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 70px;
display: inline;

font-size: 12px;
}


@keyframes fadein {
  0%, 100%{opacity: 0;}
  50%{opacity: 1;}
}




@keyframes zoomin {
  0%, 100%{top: 0;}
  50%{top:10px;}
}


@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}